body{
    height: 100%;
    width: 100%;
    text-align: center;
}
#frame{

    
    position:absolute;
     min-width: 70%; 
    
     /* width: 378px;
     height: 570px; */
    left: 15%;
    top: 25%;
    min-height: 50%;
    border-color: black;
    border-style: solid;
    border-width: 8px;
    
  
}

hr{
    margin: 0;
    border-width: 5px;
    
}

#display{
    
   
    position: relative;
    height: 60px;
    text-align: right;
    font-size:x-large;

    
}

#button-section{

position: relative;
text-align: right;

}

button{
    
    width: 24%;
    height: 200px;
    border-width: 12px;
    border-color: gray;
    
}
