#frame{
    position:absolute;
   
    text-align:center;
    height: 70%;
    width: 50%;
    left:30%;
    top:25%;
    border-radius: 5%;
    border-color: chocolate;
    border-style: solid;
    
  
}

.content{
    height: 100%;
    width: 100%;
}

#display{
    
   
    position: relative;
    height: 10%;
    text-align: right;
    font-size:x-large;

    
}

#button-section{

position: relative;
text-align: center;
top: 8%;
line-height:  400%;    
word-spacing: 100px;
padding-top: 5%;
padding-left: 5%;
padding-right: 5%;
}

button{
    
    width: 50px;
    height: 50px;
    
}
